.posters-grid {
  width: 100%;
  background-color: rgb(20, 20, 20);
  .poster{
    overflow: hidden;
    background-color: black;
    position: relative;
    height: 340px;
    width: 100%;
    img {
      object-fit: cover;
      object-position: 100% 0;
      max-width:100%;
      height:auto;
    }
    .description {
      text-align: center;
      padding: 0.5rem;
      position: absolute;
      bottom: 0px;
      left: 0px;
      background-color:rgba(50, 50, 50, 0.9);
      color: white;
      width: auto;

      .title {
        font-size: 0.9rem;
      }

      .event {
        font-size: 0.8rem;
        color: #dec4ff;
      }

      .authors {
        color: rgb(138, 238, 225);
        font-size: 0.9rem;
      }

      .tag {
        display: inline-block;
        height: 1.6rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: rgba(0,0,0,0.6);
        line-height: 1.6rem;
        padding: 0 12px;
        border-radius: 16px;
        background-color: #e4e4e4;
        margin-bottom: 5px;
        margin-right: 5px;
      }
    }
  }
}

@media (max-width: 480px) {
  .posters-grid {
    display: flex;
    flex-direction: column;
    .poster {
  
    }
  }
}

@media (min-width: 568px) {
  .posters-grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    .poster {
  
    }
  }
}

@media (min-width: 768px) {
  .posters-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .poster {
  
    }
  }
}

@media (min-width: 1024px) {
  .posters-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .poster {
  
    }
  }
}