@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@700&family=Open+Sans&display=swap');

p, span, input, button {
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #333;
  min-height: 100vh;
}

.welcome-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #1fc8db;
  background-image: linear-gradient(-45deg, #000000 0%, #11535a 55%, #2ce8b9 75%);

  h1 {
    font-size: 3rem;
  }

}

.title-1 {
  color:rgb(133, 133, 133);
}
.title-2 {
  color: #27b18e;
}

input {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 4px;
  vertical-align: middle;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 3rem;
  display: inline-block;
  height: 2rem;
  font-size: 0.9rem;
  font-weight: 500;
  color: rgba(0,0,0,0.6);
  line-height: 2rem;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
}

button:hover {
  font-weight: 500;
  background-color:  #dec4ff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #3a3a3a;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}


