.poster-detail {
  .abstract {
    font-size: 1rem;
    padding: 1rem;
    line-height: 2;
    background-color: black;
    color: blanchedalmond;
  }

  p {
    margin-top: 1rem;
  }

  img {
    width: 100%;
  }
}